body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pde {
  border: 1px solid black;
  padding: 1rem;
}

.pde_field {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 1rem;
}

.pde_field__title {
  text-align: right;
  padding-right: 1rem;
}

.pde_input__text {
  display: inline-block;
  padding: .25rem;
  margin-right: .5rem;
}

.pde_input__button {
  border: 1px solid black;
  display: inline-block;
  padding: .25rem;
  margin-right: .5rem;
}

.pde_input__button--active {
  background-color: lightcoral;
}

.pde_input__button--inactive {
  background-color: lightgray;
}

.pde_field__error_message {
  color: red;
}

.pde_action {
  margin-left: 200px;
}
